{
  "openapi": "3.0.0",
  "info": {
    "title": "PyTake - WhatsApp Business API Platform",
    "description": "API completa para automação e gerenciamento de conversas WhatsApp Business com recursos de IA, flows, campanhas, integrações ERP e muito mais. Sistema multi-tenant com 150+ endpoints.",
    "version": "1.0.0",
    "contact": {
      "name": "PyTake Team",
      "email": "contato@pytake.net",
      "url": "https://api.pytake.net"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.pytake.net",
      "description": "Servidor de Produção"
    },
    {
      "url": "http://localhost:8080",
      "description": "Servidor de Desenvolvimento"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "email": {"type": "string", "format": "email"},
          "name": {"type": "string"},
          "role": {"type": "string", "enum": ["admin", "manager", "agent", "user", "viewer"]},
          "tenant_id": {"type": "string", "format": "uuid"},
          "is_active": {"type": "boolean"},
          "permissions": {"type": "array", "items": {"type": "string"}},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "WhatsAppConfig": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string"},
          "phone_number": {"type": "string"},
          "phone_number_id": {"type": "string"},
          "access_token": {"type": "string"},
          "webhook_verify_token": {"type": "string"},
          "api_type": {"type": "string", "enum": ["official", "evolution"]},
          "is_active": {"type": "boolean"},
          "status": {"type": "string", "enum": ["connected", "disconnected", "connecting", "error"]},
          "daily_limit": {"type": "integer"},
          "rate_limit_per_minute": {"type": "integer"}
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "conversation_id": {"type": "string", "format": "uuid"},
          "whatsapp_message_id": {"type": "string"},
          "direction": {"type": "string", "enum": ["inbound", "outbound"]},
          "type": {"type": "string", "enum": ["text", "image", "document", "audio", "video", "template", "interactive"]},
          "content": {"type": "string"},
          "media_url": {"type": "string"},
          "status": {"type": "string", "enum": ["sent", "delivered", "read", "failed", "pending"]},
          "error_message": {"type": "string"},
          "metadata": {"type": "object"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "contact_phone": {"type": "string"},
          "contact_name": {"type": "string"},
          "status": {"type": "string", "enum": ["active", "closed", "paused", "waiting", "assigned"]},
          "assigned_to": {"type": "string", "format": "uuid"},
          "priority": {"type": "string", "enum": ["low", "normal", "high", "urgent"]},
          "tags": {"type": "array", "items": {"type": "string"}},
          "metadata": {"type": "object"},
          "ai_summary": {"type": "string"},
          "sentiment": {"type": "string", "enum": ["positive", "neutral", "negative"]},
          "last_message_at": {"type": "string", "format": "date-time"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "Flow": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "trigger_type": {"type": "string", "enum": ["keyword", "welcome", "no_agent", "schedule", "webhook", "ai_intent"]},
          "trigger_value": {"type": "string"},
          "is_active": {"type": "boolean"},
          "nodes": {"type": "array"},
          "edges": {"type": "array"},
          "variables": {"type": "object"},
          "metrics": {"type": "object"},
          "version": {"type": "integer"},
          "created_by": {"type": "string", "format": "uuid"}
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string"},
          "type": {"type": "string", "enum": ["broadcast", "drip", "welcome", "remarketing", "abandoned_cart"]},
          "status": {"type": "string", "enum": ["draft", "scheduled", "running", "paused", "completed", "failed"]},
          "targeting": {"type": "object"},
          "message": {"type": "object"},
          "schedule": {"type": "object"},
          "limits": {"type": "object"},
          "metrics": {"type": "object"},
          "created_by": {"type": "string", "format": "uuid"}
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "phone": {"type": "string"},
          "name": {"type": "string"},
          "email": {"type": "string", "format": "email"},
          "document": {"type": "string"},
          "tags": {"type": "array", "items": {"type": "string"}},
          "attributes": {"type": "object"},
          "opted_in": {"type": "boolean"},
          "blacklisted": {"type": "boolean"},
          "last_interaction": {"type": "string", "format": "date-time"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string"},
          "language": {"type": "string"},
          "category": {"type": "string", "enum": ["AUTHENTICATION", "MARKETING", "UTILITY"]},
          "status": {"type": "string", "enum": ["APPROVED", "PENDING", "REJECTED"]},
          "components": {"type": "array"},
          "whatsapp_template_id": {"type": "string"}
        }
      },
      "ERPIntegration": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "erp_type": {"type": "string", "enum": ["hubsoft", "ixcsoft", "mksolutions", "sisgp"]},
          "name": {"type": "string"},
          "api_url": {"type": "string"},
          "status": {"type": "string", "enum": ["connected", "disconnected", "error", "configuring"]},
          "last_sync": {"type": "string", "format": "date-time"},
          "settings": {"type": "object"}
        }
      },
      "AIResponse": {
        "type": "object",
        "properties": {
          "response": {"type": "string"},
          "confidence": {"type": "number", "minimum": 0, "maximum": 1},
          "model": {"type": "string"},
          "usage": {"type": "object"},
          "metadata": {"type": "object"}
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": ["Sistema"],
        "summary": "Health Check",
        "description": "Verifica se a API está funcionando corretamente",
        "responses": {
          "200": {
            "description": "API está funcionando",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "example": "healthy"},
                    "timestamp": {"type": "string", "format": "date-time"},
                    "services": {
                      "type": "object",
                      "properties": {
                        "database": {"type": "string", "example": "connected"},
                        "redis": {"type": "string", "example": "connected"},
                        "whatsapp": {"type": "string", "example": "ready"}
                      }
                    },
                    "version": {"type": "string", "example": "1.0.0"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Autenticação"],
        "summary": "Login do usuário",
        "description": "Autentica usuário e retorna token JWT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {"type": "string", "format": "email", "example": "admin@pytake.com"},
                  "password": {"type": "string", "minLength": 6, "example": "PyT@k3!Adm1n#2025$Str0ng"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {"type": "string"},
                    "refresh_token": {"type": "string"},
                    "user": {"$ref": "#/components/schemas/User"}
                  }
                }
              }
            }
          },
          "401": {"description": "Credenciais inválidas"}
        }
      }
    },
    "/api/v1/auth/forgot-password": {
      "post": {
        "tags": ["Autenticação"],
        "summary": "Esqueci a senha",
        "description": "Envia email para redefinir senha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {"type": "string", "format": "email"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Email enviado com sucesso"}
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "tags": ["Autenticação"],
        "summary": "Resetar senha",
        "description": "Redefine senha usando token de reset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "new_password"],
                "properties": {
                  "token": {"type": "string"},
                  "new_password": {"type": "string", "minLength": 6}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Senha redefinida com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp-configs": {
      "get": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Listar configurações WhatsApp",
        "description": "Lista todas as configurações WhatsApp do tenant",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}},
          {"name": "limit", "in": "query", "schema": {"type": "integer", "default": 10}},
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["active", "inactive"]}}
        ],
        "responses": {
          "200": {
            "description": "Lista de configurações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/WhatsAppConfig"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Criar configuração WhatsApp",
        "description": "Cria nova configuração WhatsApp Business",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "phone_number", "api_type"],
                "properties": {
                  "name": {"type": "string", "example": "WhatsApp Principal"},
                  "phone_number": {"type": "string", "example": "+5511999999999"},
                  "phone_number_id": {"type": "string", "example": "103285422517476"},
                  "access_token": {"type": "string", "example": "EAAYour...Token"},
                  "webhook_verify_token": {"type": "string", "example": "verify_token_123"},
                  "api_type": {"type": "string", "enum": ["official", "evolution"], "example": "official"},
                  "daily_limit": {"type": "integer", "default": 1000},
                  "rate_limit_per_minute": {"type": "integer", "default": 60}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Configuração criada com sucesso",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/WhatsAppConfig"}
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}": {
      "get": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Obter configuração WhatsApp",
        "description": "Obtém detalhes de uma configuração específica",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {
            "description": "Detalhes da configuração",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/WhatsAppConfig"}
              }
            }
          }
        }
      },
      "put": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Atualizar configuração WhatsApp",
        "description": "Atualiza configuração existente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {"type": "string"},
                  "access_token": {"type": "string"},
                  "webhook_verify_token": {"type": "string"},
                  "is_active": {"type": "boolean"},
                  "daily_limit": {"type": "integer"},
                  "rate_limit_per_minute": {"type": "integer"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuração atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/WhatsAppConfig"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Deletar configuração WhatsApp",
        "description": "Remove configuração permanentemente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "204": {"description": "Configuração deletada com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}/test": {
      "post": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Testar configuração WhatsApp",
        "description": "Testa se a configuração está funcionando corretamente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {
            "description": "Teste realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "enum": ["success", "error"]},
                    "message": {"type": "string"},
                    "details": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}/activate": {
      "post": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Ativar configuração WhatsApp",
        "description": "Ativa configuração para uso",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Configuração ativada com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}/deactivate": {
      "post": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Desativar configuração WhatsApp",
        "description": "Desativa configuração temporariamente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Configuração desativada com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}/qrcode": {
      "get": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Obter QR Code (Evolution API)",
        "description": "Obtém QR Code para conexão Evolution API",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {
            "description": "QR Code gerado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qrcode": {"type": "string"},
                    "base64": {"type": "string"},
                    "status": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp-configs/{id}/status": {
      "get": {
        "tags": ["WhatsApp Configurações"],
        "summary": "Verificar status da configuração",
        "description": "Verifica status de conexão da configuração",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {
            "description": "Status da configuração",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "enum": ["connected", "disconnected", "connecting", "error"]},
                    "phone_number": {"type": "string"},
                    "profile_name": {"type": "string"},
                    "last_seen": {"type": "string", "format": "date-time"},
                    "battery": {"type": "integer"},
                    "is_business": {"type": "boolean"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp/send": {
      "post": {
        "tags": ["WhatsApp Mensagens"],
        "summary": "Enviar mensagem de texto",
        "description": "Envia mensagem de texto via WhatsApp Business API",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "message"],
                "properties": {
                  "whatsapp_config_id": {"type": "string", "format": "uuid"},
                  "to": {"type": "string", "example": "+5511999999999"},
                  "message": {"type": "string", "example": "Olá! Como posso ajudar?"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Mensagem enviada com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp/send-template": {
      "post": {
        "tags": ["WhatsApp Mensagens"],
        "summary": "Enviar template",
        "description": "Envia mensagem usando template aprovado",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "template_name", "language"],
                "properties": {
                  "to": {"type": "string"},
                  "template_name": {"type": "string"},
                  "language": {"type": "string", "example": "pt_BR"},
                  "parameters": {"type": "array", "items": {"type": "string"}}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Template enviado com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp/send-media": {
      "post": {
        "tags": ["WhatsApp Mensagens"],
        "summary": "Enviar mídia",
        "description": "Envia imagem, vídeo ou documento",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "type", "media_url"],
                "properties": {
                  "to": {"type": "string"},
                  "type": {"type": "string", "enum": ["image", "video", "document", "audio"]},
                  "media_url": {"type": "string"},
                  "caption": {"type": "string"},
                  "filename": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Mídia enviada com sucesso"}
        }
      }
    },
    "/api/v1/whatsapp/templates": {
      "get": {
        "tags": ["WhatsApp Templates"],
        "summary": "Listar templates",
        "description": "Lista templates do WhatsApp Business",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {
            "description": "Lista de templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Template"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["WhatsApp Templates"],
        "summary": "Criar template",
        "description": "Cria novo template para aprovação",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Template criado com sucesso"}
        }
      }
    },
    "/api/v1/conversations": {
      "get": {
        "tags": ["Conversas"],
        "summary": "Listar conversas",
        "description": "Lista conversas com filtros avançados",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}},
          {"name": "limit", "in": "query", "schema": {"type": "integer", "default": 20}},
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["active", "closed", "paused"]}},
          {"name": "assigned_to", "in": "query", "schema": {"type": "string", "format": "uuid"}},
          {"name": "priority", "in": "query", "schema": {"type": "string", "enum": ["low", "normal", "high", "urgent"]}},
          {"name": "tags", "in": "query", "schema": {"type": "string"}},
          {"name": "sentiment", "in": "query", "schema": {"type": "string", "enum": ["positive", "neutral", "negative"]}},
          {"name": "date_from", "in": "query", "schema": {"type": "string", "format": "date"}},
          {"name": "date_to", "in": "query", "schema": {"type": "string", "format": "date"}}
        ],
        "responses": {
          "200": {
            "description": "Lista de conversas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"type": "array", "items": {"$ref": "#/components/schemas/Conversation"}},
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {"type": "integer"},
                        "limit": {"type": "integer"},
                        "total": {"type": "integer"},
                        "pages": {"type": "integer"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{id}/assign": {
      "post": {
        "tags": ["Conversas"],
        "summary": "Atribuir conversa",
        "description": "Atribui conversa para um agente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {"type": "string", "format": "uuid"},
                  "priority": {"type": "string", "enum": ["low", "normal", "high", "urgent"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Conversa atribuída com sucesso"}
        }
      }
    },
    "/api/v1/flows": {
      "get": {
        "tags": ["Flows"],
        "summary": "Listar flows",
        "description": "Lista flows de automação",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["active", "inactive", "draft"]}},
          {"name": "trigger_type", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Lista de flows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Flow"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Flows"],
        "summary": "Criar flow",
        "description": "Cria novo flow de automação",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Flow criado com sucesso"}
        }
      }
    },
    "/api/v1/flows/{id}/activate": {
      "post": {
        "tags": ["Flows"],
        "summary": "Ativar flow",
        "description": "Ativa flow de automação",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Flow ativado com sucesso"}
        }
      }
    },
    "/api/v1/flows/{id}/test": {
      "post": {
        "tags": ["Flows"],
        "summary": "Testar flow",
        "description": "Executa teste do flow com dados simulados",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Teste executado com sucesso"}
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "tags": ["Campanhas"],
        "summary": "Listar campanhas",
        "description": "Lista campanhas de marketing",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["draft", "scheduled", "running", "paused", "completed"]}},
          {"name": "type", "in": "query", "schema": {"type": "string", "enum": ["broadcast", "drip", "welcome", "remarketing"]}}
        ],
        "responses": {
          "200": {
            "description": "Lista de campanhas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Campaign"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Campanhas"],
        "summary": "Criar campanha",
        "description": "Cria nova campanha de marketing",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Campanha criada com sucesso"}
        }
      }
    },
    "/api/v1/campaigns/{id}/start": {
      "post": {
        "tags": ["Campanhas"],
        "summary": "Iniciar campanha",
        "description": "Inicia execução da campanha",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Campanha iniciada com sucesso"}
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": ["Contatos"],
        "summary": "Listar contatos",
        "description": "Lista contatos com filtros",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "search", "in": "query", "schema": {"type": "string"}},
          {"name": "tags", "in": "query", "schema": {"type": "string"}},
          {"name": "opted_in", "in": "query", "schema": {"type": "boolean"}}
        ],
        "responses": {
          "200": {
            "description": "Lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Contact"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Contatos"],
        "summary": "Criar contato",
        "description": "Cria novo contato",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Contato criado com sucesso"}
        }
      }
    },
    "/api/v1/contacts/import": {
      "post": {
        "tags": ["Contatos"],
        "summary": "Importar contatos",
        "description": "Importa contatos em massa via CSV/Excel",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {"type": "string", "format": "binary"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Contatos importados com sucesso"}
        }
      }
    },
    "/api/v1/erp/{erp_type}/connect": {
      "post": {
        "tags": ["ERP Integrações"],
        "summary": "Conectar ERP",
        "description": "Conecta sistema ERP",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "erp_type", "in": "path", "required": true, "schema": {"type": "string", "enum": ["hubsoft", "ixcsoft", "mksolutions", "sisgp"]}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["api_url", "api_key"],
                "properties": {
                  "api_url": {"type": "string"},
                  "api_key": {"type": "string"},
                  "api_secret": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "ERP conectado com sucesso"}
        }
      }
    },
    "/api/v1/erp/{erp_type}/customers/{document}": {
      "get": {
        "tags": ["ERP Integrações"],
        "summary": "Buscar cliente no ERP",
        "description": "Busca cliente por CPF/CNPJ",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "erp_type", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "document", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Cliente encontrado"}
        }
      }
    },
    "/api/v1/erp/{erp_type}/invoices": {
      "get": {
        "tags": ["ERP Integrações"],
        "summary": "Listar faturas",
        "description": "Lista faturas do cliente",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "erp_type", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "customer_id", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Lista de faturas"}
        }
      }
    },
    "/api/v1/ai/chat": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Chat com IA",
        "description": "Conversa com assistente de IA",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {"type": "string"},
                  "context": {"type": "object"},
                  "model": {"type": "string", "enum": ["gpt-3.5-turbo", "gpt-4", "claude-3"], "default": "gpt-3.5-turbo"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta da IA",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AIResponse"}
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/analyze-sentiment": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Analisar sentimento",
        "description": "Analisa sentimento de texto",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": {"type": "string", "example": "Estou muito satisfeito com o atendimento!"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Análise de sentimento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sentiment": {"type": "string", "enum": ["positive", "neutral", "negative"]},
                    "confidence": {"type": "number", "minimum": 0, "maximum": 1},
                    "emotions": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/classify-intent": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Classificar intenção",
        "description": "Classifica intenção da mensagem",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {"type": "string", "example": "Quero cancelar minha assinatura"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classificação de intenção",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intent": {"type": "string"},
                    "confidence": {"type": "number"},
                    "entities": {"type": "array"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/overview": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Visão geral do dashboard",
        "description": "Métricas principais do sistema",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "period", "in": "query", "schema": {"type": "string", "enum": ["today", "week", "month", "quarter"], "default": "today"}}
        ],
        "responses": {
          "200": {
            "description": "Métricas do dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {"type": "object"},
                    "messages": {"type": "object"},
                    "campaigns": {"type": "object"},
                    "response_time": {"type": "object"},
                    "satisfaction": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/performance": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Métricas de performance",
        "description": "Dados de performance dos agentes",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {"description": "Métricas de performance"}
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": ["Usuários"],
        "summary": "Listar usuários",
        "description": "Lista usuários do tenant",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "role", "in": "query", "schema": {"type": "string"}},
          {"name": "active", "in": "query", "schema": {"type": "boolean"}}
        ],
        "responses": {
          "200": {
            "description": "Lista de usuários",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/User"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Usuários"],
        "summary": "Criar usuário",
        "description": "Cria novo usuário",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Usuário criado com sucesso"}
        }
      }
    },
    "/api/v1/users/{id}/permissions": {
      "get": {
        "tags": ["Usuários"],
        "summary": "Listar permissões do usuário",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Lista de permissões"}
        }
      },
      "put": {
        "tags": ["Usuários"],
        "summary": "Atualizar permissões",
        "description": "Atualiza permissões do usuário",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Permissões atualizadas"}
        }
      }
    },
    "/api/v1/webhooks/whatsapp": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Verificação webhook WhatsApp",
        "description": "Endpoint de verificação do webhook WhatsApp",
        "parameters": [
          {"name": "hub.mode", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "hub.verify_token", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "hub.challenge", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Verificação bem-sucedida"}
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Receber webhook WhatsApp",
        "description": "Recebe eventos do WhatsApp Business API",
        "responses": {
          "200": {"description": "Evento processado"}
        }
      }
    },
    "/api/v1/lgpd/consent": {
      "get": {
        "tags": ["LGPD/GDPR"],
        "summary": "Listar consentimentos",
        "description": "Lista consentimentos LGPD/GDPR",
        "security": [{"BearerAuth": []}],
        "responses": {
          "200": {"description": "Lista de consentimentos"}
        }
      },
      "post": {
        "tags": ["LGPD/GDPR"],
        "summary": "Registrar consentimento",
        "description": "Registra consentimento LGPD/GDPR",
        "security": [{"BearerAuth": []}],
        "responses": {
          "201": {"description": "Consentimento registrado"}
        }
      }
    },
    "/api/v1/lgpd/data-export/{contact_id}": {
      "get": {
        "tags": ["LGPD/GDPR"],
        "summary": "Exportar dados pessoais",
        "description": "Exporta todos os dados de um contato",
        "security": [{"BearerAuth": []}],
        "parameters": [
          {"name": "contact_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "Dados exportados"}
        }
      }
    },
    "/api/v1/metrics": {
      "get": {
        "tags": ["Observabilidade"],
        "summary": "Métricas Prometheus",
        "description": "Endpoint de métricas para Prometheus",
        "responses": {
          "200": {
            "description": "Métricas em formato Prometheus",
            "content": {
              "text/plain": {
                "schema": {"type": "string"}
              }
            }
          }
        }
      }
    },
    "/ws": {
      "get": {
        "tags": ["WebSocket"],
        "summary": "Conexão WebSocket",
        "description": "Estabelece conexão WebSocket para atualizações em tempo real",
        "responses": {
          "101": {"description": "Conexão WebSocket estabelecida"}
        }
      }
    }
  },
  "tags": [
    {"name": "Sistema", "description": "Endpoints de sistema e monitoramento"},
    {"name": "Autenticação", "description": "Autenticação e autorização"},
    {"name": "WhatsApp Configurações", "description": "Configurações WhatsApp Business"},
    {"name": "WhatsApp Mensagens", "description": "Envio de mensagens WhatsApp"},
    {"name": "WhatsApp Templates", "description": "Gerenciamento de templates"},
    {"name": "Conversas", "description": "Gerenciamento de conversas"},
    {"name": "Flows", "description": "Automação e fluxos"},
    {"name": "Campanhas", "description": "Campanhas de marketing"},
    {"name": "Contatos", "description": "Gerenciamento de contatos"},
    {"name": "ERP Integrações", "description": "Integrações com sistemas ERP"},
    {"name": "AI Assistant", "description": "Assistente de IA e automação"},
    {"name": "Dashboard", "description": "Dashboards e relatórios"},
    {"name": "Usuários", "description": "Gerenciamento de usuários"},
    {"name": "Webhooks", "description": "Webhooks e integrações"},
    {"name": "LGPD/GDPR", "description": "Conformidade com proteção de dados"},
    {"name": "Observabilidade", "description": "Monitoramento e métricas"},
    {"name": "WebSocket", "description": "Comunicação em tempo real"}
  ]
}